*, body {
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}

body {
    background: #1b001d;
    background: linear-gradient(0deg, #1b001d 0%, #18001b 7%, black 100%);
}

body {
    background: rgb(27,0,29);
    background: linear-gradient(0deg, rgba(27,0,29,1) 0%, rgba(24,0,27,1) 7%, rgba(0,0,0,1) 100%);
}

//Add margin and padding to Bootstrap's .container will cause problems.
.container {
    //margin: 0px;
    //padding: 0px;
}

.navbar {
    //Make in front of everything.
    z-index: 9999;
    margin: 0px;
    padding: 0.5rem 0px 0px;
}

.navbar_brand {
    font-family: "Black Han Sans", sans-serif;
    text-decoration: none;
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 9999;
    cursor: pointer;
    :hover, :visited {
        color: white;
    }
}

.top_navbar {
    //"padding-left" of .main in sidebar_menu.css is 160 px.
    width: calc(100% - 160px);
    position: fixed;
}

//Give left and right space to the navbar.
.form-inline {
    margin-left: 3%;
}

.d-flex {
    margin-right: 3%;
}

/**
For placing element in center of page.
 */
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/**
---------------------------------------------
 */

/**
Slight padding offsets to the navbar buttons on top left corner.
 */
.top_nav_left_padding {
    padding-left: 0.2rem;
}

.top_nav_top_padding {
    padding-top: 0.2rem;
}

#tsparticles {
    z-index: 0;
}

.whiteText {
    color: white;
}

$transparentBlackBGColor: rgba(0, 0, 0, 0.6);
$roundBorderRem: 3rem;

//Login form.
#loginFormDiv, #registerFormDiv {
    background-color: $transparentBlackBGColor;
    border-radius: $roundBorderRem;
    form {
        padding: 3rem;
        label {
            display: table;
            margin-right: auto;
            padding: 1rem 0px 0px 0px;
        }
        input {
            display: table;
            margin-left: auto;
        }
        .register_text {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

//Upload form.
#uploadFormDiv {
    background-color: $transparentBlackBGColor;
    border-radius: $roundBorderRem;
    padding: 3rem;
}

.copyright {
    font-size: 0.8rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: right;
}

#landing_page_contents {
    #landing_page_bg {
        width: 100%;
        height: 70vh;
        background: rgb(81,0,87);
        background: radial-gradient(circle, rgba(81,0,87,1) 13%, rgba(14,20,50,1) 89%);
        .landing_page_text1 {
            font-size: 5rem;
        }
        .landing_page_text2 {
            font-size: 2.2rem;
        }
        button {
            border-radius: 3rem;
        }
        padding-left: 10rem;
        padding-top: 10rem;
    }
    .landing_page_text3 {
        padding-top: 2rem;
        text-align: center;
        font-size: 2.2rem;
    }
    .landingpage_signupform {
        margin-bottom: 3rem;
    }
}

#mainContents {
    padding-top: 3rem;
}
