*, body {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}

//Add margin and padding to Bootstrap's .container will cause problems.
.container {
  //margin: 0px;
  //padding: 0px;
}
.navbar {
  //Make in front of everything.
  z-index: 9999;
  margin: 0.5rem 0px 0px;
  padding: 0px;
}

//Give left and right space to the navbar.
.form-inline {
  margin-left: 3%;
}
.d-flex {
  margin-right: 3%;
}

/**
For placing element in center of page.
 */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/**
---------------------------------------------
 */

//Enlarge "Start Tour!" button.
.startTourBtn {
  padding: 1.5rem;
}

#tsparticles {
  z-index: 0;
}

.whiteText {
  color: white;
}

.copyright {
  font-size: 0.8rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: right;
}